/**css reset*/
body, h1, h2, h3, h4, h5, h6, hr, p, blockquote, dl, dt, dd, ul, ol, li, pre, form, fieldset, legend, button, input, textarea, th, td{ margin: 0; padding: 0; }
body, button, input, select, textarea { font-family: "Helvetica neue", sans-serif,Arial, "Hiragino Sans GB", "Microsoft Yahei", "WenQuanYi Micro Hei";color:#333;}
pre { white-space: pre-wrap; /* css-3 */ white-space: -moz-pre-wrap; /* Mozilla, since 1999 */ white-space: -pre-wrap; /* Opera 4-6 */ white-space: -o-pre-wrap; /* Opera 7 */ word-wrap: break-word; /* Internet Explorer 5.5+ */ }
input, button, select, textarea { outline: none;-webkit-appearance:none;-webkit-tap-highlight-color: rgba(0, 0, 0, 0);}
h1, h2, h3, h4, h5, h6 {font-size: 100%; }
i,em{ font-style: normal; }
a { text-decoration: none; background:transparent;-webkit-tap-highlight-color: transparent;}
a:focus { outline: none; }
a span, a img { cursor: pointer; }
fieldset, img { border: 0; }
ul.nolist,ul { list-style: none; }
ul.nolist li,ul li { list-style: none; }
img{vertical-align: middle;}
*{-webkit-overflow-scrolling : touch;}


/*浮动*/
.fl { float:left; }
.fr { float:right; }

/**清除浮动**/
.clearFix:before, .clearFix:after { display: table; content: ""; }
.clearFix:after { clear: both; }
.clearFix { *zoom: 1; }